html {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color:#9C9EFE;
    color: white;
    padding: 3rem 2rem;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

body {
    margin: 0;
    background-color:lightblue;
}

.section {
    width: 400px;
    margin: 0 auto;
}

.post {
    transition: all 0.3s ease;
    background-color: white;
    border-radius: 0.5rem;
    margin-top: 20px;
    cursor: pointer;
    padding: 0.3rem 0;
}

.post:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 1);
}

.post h2, .post p {
    margin: 1rem;
}

.image {
    width: 400px;
    height: 300px;
}

footer {
    margin-top: 30px;
    background-color: #222;
    padding: 3rem;
    color: #fff;
}

footer section{
    float:right;
}

footer p{
    margin: 0;
}

footer a{
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
}

footer a:hover{
    color:cornflowerblue;
}